<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://googleauthentication20210829110209.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f84bfe43-bc1c-45f6-b325-8ce3dbd71e99/resourcegroups/learning/providers/Microsoft.Web/sites/GoogleAuthentication20210829110209</ResourceId>
    <UserName>$GoogleAuthentication20210829110209</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://googleauthentication20210829110209.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>