<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILearningService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILearningService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HelloService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILearningService" contract="HelloWorldService.ILearningService"
                name="BasicHttpBinding_ILearningService" />
            <endpoint address="net.tcp://localhost:8090/HelloService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILearningService" contract="HelloWorldService.ILearningService"
                name="NetTcpBinding_ILearningService">
                <identity>
                    <userPrincipalName value="JIA-PC\JIA" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>