<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/f84bfe43-bc1c-45f6-b325-8ce3dbd71e99/resourceGroups/playground/providers/Microsoft.ApiManagement/service/TwilioPOCapidemo1/apis/TwilioPOC</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/f84bfe43-bc1c-45f6-b325-8ce3dbd71e99/resourcegroups/playground/providers/Microsoft.Web/sites/TwilioPOC20250409080904</ResourceId>
    <ResourceGroup>playground</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://twiliopoc20250409080904-bqa0g9d8e8ejd0dy.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fadc6dae-69fe-4dec-87e6-bbbc98037179</ProjectGuid>
    <PublishUrl>https://twiliopoc20250409080904-bqa0g9d8e8ejd0dy.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>